__pycache__/
__pycache__
.pytest_cache/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
.env
*.env

.git/
.gitignore

db.sqlite3
staticfiles/
media/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

node_modules/

redis-data