g# Django
# Django
.pyc
__pycache__/
db.sqlite3
.env
/migrations/
settings_local.py

node_modules/
build/
.cache/
npm-debug.log
yarn-error.log

# General
.log
.DS_Store
Thumbs.db
ehthumbs.db
coverage/
.vscode/
.idea/
.venv/
Reference/
package.md
readme.txt
fix.txt
news
requirements
# api
requirements
settings
news

base.html
index.html

api/spotify_artist.py
api/readtoken.py
api/test.py
api/test1.py

access_token.txt
token_store.txt
requirements.txt
db.sqlite3

DesignRef/

render.yml
build.sh