{% load static %}
{% comment %} {% load static tailwind_tags %} {% endcomment %}
{% comment %} {% tailwind_css %} {% endcomment %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/home.css' %}">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> {% endcomment %}
    <script type="module" src="{% static 'js/cookies.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/fetchMusic.js' %}"></script>
    <script src="{% static 'js/controlBookmark.js' %}"></script>
    <script src="{% static 'js/controlPlay.js' %}"></script>
    <script src="{% static 'js/navbarControl.js' %}"></script>
    <script src="{% static 'js/searchMusicPlay.js' %}"></script>
</head>
{% block content %}    
  <div class="dashboard-container">
    <div class="sidebar" id="sidebarToggle">
         <div class="sidebar-home">
            <nav class="sidebar-menu">
                <div class="navButton" onclick="hideSidebar()">
                    <div class="btn1"></div>
                    <div class="btn2"></div>
                    <div class="btn3"></div>
                </div>
                <a href="#" class="menu-item"> 
                    <i class="fa-solid fa-house" style="color: #c0bfbf;"></i>
                    Home
                </a>
                <a href="#" class="menu-item">
                    <i class="fa-regular fa-object-group" style="color: #c0bfbf;"></i>
                    Browse</a>
                    <a href="#" class="menu-item">
                        <i class="fa-regular fa-images" style="color: #c0bfbf" ></i>
                    Album</a>
                <a href="#" class="menu-item">
                    <i class="fa-regular fa-user" style="color: #c0bfbf;"></i>
                    Artists</a>   
            </nav>
        </div>
        <div class="sidebar-my-music">
            <h2 class="sidebar-section-title">My Music</h2>
            <nav class="sidebar-menu">
            <a href="recentlyPlayed" class="menu-item">
                 <i class="fa-solid fa-hourglass-end" style="color: #c0bfbf;"></i>
                Recently Played</a>
            <a href="#" class="menu-item">
                <i class="fa-regular fa-file" style="color: #c0bfbf;"></i>
                Local Files </a>
            <a href="url bookmarked" class="menu-item">
                <i class="fa-solid fa-bookmark" style="color: #c0bfbf;"></i>
                Bookmarked </a>
            </nav>
        </div>

        <div class="sidebar-playlists">
            <h2 class="sidebar-section-title">Playlists</h2>
            <nav class="sidebar-menu playlists-list">
            <a href="#" class="menu-item">General Playlist</a>
            <a href="#" class="menu-item">Ease up beats</a>
            <a href="#" class="menu-item">Pop songs</a>
            <a href="#" class="menu-item">Mood swings</a>
            </nav>
        </div>
    </div>

    
    <div class="main">
        <img src="{% static 'svg/svg-path.svg' %}" alt="decorative line" class="decorative-svg" />
        <div class="topbar">
            <div class="navButtonOut">
                <div class="btn1"></div>
                <div class="btn2"></div>
                <div class="btn3"></div>
            </div>
            <div class="topbar-left">
                <div class="menu-icon">⋮⋮</div>
                <input type="text" placeholder="Search" size="30" class="search-input" id="searchInput" />
            </div>
            <div class="divider"></div>
            
            <div class="topbar-right icon-wrapper">
                <button class="userProfile-btn" onclick=toggleDropdown('userProfileDropdown')><i class="fa-regular fa-user" style="color: #000000;"></i></button>
                <div id="userProfileDropdown" class="dropdownUserProfile">
                    <div class="profileElement">
                    {% if user.is_authenticated %}

                        <a href="#" >View Profile</a>
                        <a href="#" >Edit Profile</a>
                        <form method="POST" action="{% url 'logout' %}">{% csrf_token %}
                            <button type="submit">Log out</button></form>
                            {% else %}<a href="{%url 'login' %}" >Login</a>{% endif %}
                        </div>
                </div>
                <button class="notification-btn"><i class="fa-regular fa-bell" style="color: #000000;"></i></button>
                <button class="settings-btn" onclick=toggleDropdown('settingsDropdown')>
                    <span>
                        <i class="fa-solid fa-gear" style="color: #030303;"></i>
                    </span>
                 </button>
                 <div id="settingsDropdown" class="dropdownSettings">
                        <a href="#" >Settings</a>
                 </div> 
            </div>
        </div>

        <div class="artists">
            <h2>Top Artists</h1>
            <div class="artist-card-section">
                {% if Artists %}
                    {% for results in Artists %}
                    {% if results.image %}
                            <div class="artist-card" onclick=openCardMusic(results)>
                                <img src="{{results.image}}" alt="{{results.name}}" />
                                <p>{{results.name}}</p>
                            </div>
                        {% endif %}
                       {% endfor %}

                {% else %}
                <p>No artists found yet.</p>
                {% endif %}
            </div>
        </div>
        
        <div class="mainTitle">
            <div class="titl1">
                <h3>  Now Playing</h3>
            </div>
            <div class="title2">
                <h3>Mostly Played ❤️</h3>
            </div>
        </div>
        <div class="musicPlayed">
           <div class="music-section">
            <div class="nowPlaying">
                {% if PlayedTrack %}
                    <div class="playingMusicImage">
                             <Span>
                                {% comment %} <i class="fa-solid fa-bookmark fa-xl id=bookmark"></i> {% endcomment %}
                                <i class="fa-regular fa-bookmark fa-xl songBookmark" data-played-track="{{ PlayedTrack }}"
                                 data-played-track-id="{{ PlayedTrack.id }}"></i>
                            </Span>
                        <img src="{{PlayedTrack.image_url}}" alt="playingMusicImage" class="playing-image">
                        <div class="class="song-info">
                            <h3>Saint-Tropez</h3>
                        </div>
                    </div>
                    <div class="playingMusicControls">
                        <audio src="{{PlayedTrack.audio_url}}" id="playingSong" type=audio ></audio>
                        <input type="range" value="0" min="0"  id="songProgress">
                        <div class="audioDuration">
                            <span class="musicDuration">00:00</span>
                            <span class="musicmax">00:00</span>
                        </div>
                        <div class="song-controls">
                            <div> <i class="fa-solid fa-shuffle fa-lg" style="color: #000000;"></i></div>
                            <div> <i class="fa-solid fa-backward fa-lg" style="color: #000000;"></i></div>
                            <div> <i class="fa-solid fa-play fa-lg play-btn" id="controlMusic" style="color: #0d0d0d;"></i></div>
                            <div> <i class="fa-solid fa-forward fa-lg" style="color: #000000;"></i></div>
                            <div> <i class="fa-solid fa-shuffle fa-lg" style="color: #000000;"></i></div>

                        </div>
                    </div> 
                 {% else %}
                      <div class="playingMusicImage">
                      <Span><i class="fa-regular fa-bookmark fa-xl" class="bookmark"></i></Span>
                        <img src="rockstar.jpg" alt="Rockstar" class="song-thumb" />
                            <div class="song-info">
                                <h4>Rockstar</h4>
                                <p>Post Malone</p>
                            </div>
                    </div>
                        <div class="playingMusicControls">
                             <audio src="{{PlayedTrack.audio_url}}" id="playingSong" type=audio ></audio>
                        <input type="range" value="0" min="0"  id="songProgress">
                        <div class="audioDuration">
                            <span class="musicDuration">00:00</span>
                            <span class="musicmax">00:00</span>
                        </div>
                        <div class="song-controls">
                            <div> <i class="fa-solid fa-shuffle fa-lg" style="color: #000000;"></i></div>
                            <div> <i class="fa-solid fa-backward fa-lg" style="color: #000000;"></i></div>
                            <div> <i class="fa-solid fa-play fa-lg play-btn" id="controlMusic" style="color: #0d0d0d;"></i></div>
                            <div> <i class="fa-solid fa-forward fa-lg" style="color: #000000;"></i></div>
                            <div> <i class="fa-solid fa-shuffle fa-lg" style="color: #000000;"></i></div>

                        </div>
                        </div> 
                {% endif %}
                </div>

            <div class="mostly-played">
                {% if MostlyPlayed %}
                    {% for item in MostlyPlayed %}
                <div class="song-row">
                         {% if item.image %}
                            <span class="track-num">{{ forloop.counter|stringformat:"02d" }}</span>
                            <img src="{{ item.image }}" alt="{{ item.name }}" class="song-thumb" />
                            <div class="song-info">
                                <h4>{{ item.name }}</h4>
                                <p>{{ item.genre }}</p>
                            </div>
                            <span class="duration">{{ artist.duration }}</span>
                            {% endif %}
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>No artists found yet.</p>
                        {% endif %}
            </div>

        </div>
    </div>
  </div>
{% endblock %}


<script>
   

   document.getElementById("searchInput").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {event.preventDefault();
            const mood = this.value.trim();
            if (!mood) {
                alert("Please enter a mood to search");
                return;
            }
            if (mood !== ""){
            window.location.href = `/search/?mood=${encodeURIComponent(mood)}`;}}
    });

</script>